<div class="am-cf admin-main">
    <div class="nav-navicon admin-main admin-sidebar">


        <div class="sideMenu am-icon-dashboard" style="color:#aeb2b7; margin: 10px 0 0 0;"> 欢迎系统管理员：Mario</div>
        <div class="sideMenu">
            <h3> <a href="培训信息管理.html">培训管理</a></h3>

            <h3> <a href="精选活动管理.html">活动管理</a></h3>
            <h3><a href="订单列表.html">订单管理</a></h3>

            <h3><a href="比赛列表.html">比赛管理</a></h3>

            <h3><a href="会员列表.html">注册用户管理</a></h3>

            <h3><a href="俱乐部管理.html">俱乐部管理</a></h3>
            <h3><a href="俱乐部视频管理.html">俱乐部视频管理</a></h3>


            <h3><a href="大师列表.html">大师管理</a></h3>

            <h3><a href="晒图列表_超级管理员.html">晒图管理</a></h3>

            <h3><a href="评论列表_超级管理员.html">评论管理</a></h3>
            <h3><a href="通知列表_超级管理员.html">通知管理</a></h3>

            <h3><a href="俱乐部视频管理.html">视频管理</a></h3>

            <h3><a href="奖品管理.html">奖品管理</a></h3>
            <h3><a href="兑换记录.html">兑换管理</a></h3>
            <h3><a href="关注.html">关注管理</a></h3>
            <h3><a href="关于约健.html">关于约健</a></h3>

        </div>
        <script type="text/javascript">
            jQuery(".sideMenu").slide({
                titCell:"h3", //鼠标触发对象
                targetCell:"ul", //与titCell一一对应，第n个titCell控制第n个targetCell的显示隐藏
                effect:"slideDown", //targetCell下拉效果
                delayTime:300 , //效果时间
                triggerTime:150, //鼠标延迟触发时间（默认150）
                defaultPlay:true,//默认是否执行效果（默认true）
                returnDefault:true //鼠标从.sideMen移走后返回默认状态（默认false）
            });
        </script>








    </div>
</div>>
    <!-- sideMenu End -->