<!DOCTYPE HTML>
<html>
<head>
    <title>物流后台管理系统</title>
    <!-- Custom Theme files -->
    <link href="__STATIC__/admin/assets/css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
</head>
<body>
<div class="login">
    <div class="login-top">
        <h1>设置新密码</h1>
        <h3 style="text-align: center;
        margin: 0px 0px 20px 0px;
        color: #F45B4B;
        font-size: 18px">请输入邮箱验证码和新密码来重置密码</h3>
        <form method = "post">
            验证码：<input type="text" name="rand" value="验证码" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '验证码';}">
            新密码：<input type="password" value="111111" name="newpwd" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}">
            <div class="forgot">
                <input type="submit" value="下一步" >
            </div>
        </form>
    </div>
    <div class="login-bottom">
        <h3>&nbsp;<a href="{:url('index')}">返回登陆</a>&nbsp 点击这里</h3>
    </div>
</div>
<div class="copyright">
    <p>Copyright &copy; 2018.浙江迪安诊断技术股份有限公司 All rights reserved. <a href="www.dazd.cn/" target="_blank" title="浙江迪安诊断技术股份有限公司">浙江迪安诊断技术股份有限公司</a></p>
</div>


</body>
</html>